Repository atheryon-ai/legend-guardian-workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainers, @api-maintainers, @agent-maintainers, @platform-maintainers, @qa-maintainers, @devops-maintainers, @docs-maintainers

fix: Add requirements.txt for CI pipeline
  requirements.txt
Owners: @maintainers

fix: Resolve all flake8 linting issues
  src/agent/llm_client.py
  src/agent/memory.py
  src/agent/policies.py
  src/api/deps.py
  src/api/main.py
  src/api/routers/adapters_engine.py
  src/api/routers/adapters_sdlc.py
  src/api/routers/health.py
  src/api/routers/intent.py
  src/clients/depot.py
  src/clients/engine.py
  src/clients/sdlc.py
  src/rag/loader.py
  src/rag/store.py
  src/settings.py
  tests/test_depot_client.py
  tests/test_engine_client.py
  tests/test_health.py
  tests/test_intent_e2e.py
  tests/test_sdlc_client.py
Owners: @agent-maintainers, @api-maintainers, @maintainers, @qa-maintainers

fix: Update CI workflow to handle project structure
  .github/workflows/ci.yml
Owners: @maintainers

fix: Resolve remaining flake8 linting issues for CI
  src/agent/orchestrator.py
  src/clients/sdlc.py
Owners: @agent-maintainers, @maintainers

style: Apply Black formatting to all Python files
  src/api/deps.py
  src/api/routers/adapters_engine.py
  src/api/routers/adapters_sdlc.py
  src/api/routers/health.py
  src/api/routers/intent.py
  src/clients/depot.py
  src/clients/engine.py
  src/clients/sdlc.py
  src/rag/loader.py
  src/rag/store.py
  src/settings.py
  tests/test_depot_client.py
  tests/test_engine_client.py
  tests/test_health.py
  tests/test_intent_e2e.py
  tests/test_sdlc_client.py
Owners: @api-maintainers, @maintainers, @qa-maintainers

fix: Complete CI pipeline fixes with all files properly formatted
  .gemini-clipboard/clipboard-1756359663102.png
  .github/workflows/ci.yml
  artifacts/Legend-FINOS.collection.json
  artifacts/docs/runbook.md
  artifacts/docs/usecases.md
  artifacts/harness/env.sh
  artifacts/harness/usecase1_ingest_publish.sh
  artifacts/harness/usecase2_safe_rollout.sh
  artifacts/harness/usecase3_model_reuse.sh
  artifacts/harness/usecase4_reverse_etl.sh
  artifacts/harness/usecase5_governance_lineage.sh
  artifacts/harness/usecase6_contract_first.sh
  artifacts/harness/usecase7_bulk_backfill.sh
  artifacts/harness/usecase8_incident_rollback.sh
  deploy/docker-finos-official/.env 2
  deploy/docker-finos-official/Dockerfile.agent
  deploy/docker-finos-official/z_generated/depot-store/setup/setup 2.sh
  deploy/docker-finos-official/z_generated/engine/config/config.json.bak
  deploy/lib/common-functions.sh
  deploy/local/.env.example
  deploy/secrets/.env.azure
  deploy/secrets/.env.local
  docker-compose.yml
  episodes/2025-08-29T12:03:17.360643.json
  episodes/2025-08-29T12:04:24.664290.json
  legend-guardian-agent/.env 2
  legend-guardian-agent/IMPROVEMENTS.md
  legend-guardian-agent/LEGEND_API_RESEARCH.md
  legend-guardian-agent/PHASE1_IMPLEMENTATION_COMPLETE.md
  legend-guardian-agent/PHASE1_REVIEW.md
  legend-guardian-agent/PHASE3_IMPLEMENTATION_SUMMARY.md
  legend-guardian-agent/PLACEHOLDER_COMPLETION_PLAN.md
  legend-guardian-agent/REMAINING_WORK_SUMMARY.md
  legend-guardian-agent/test_all_endpoints.sh
  secrets.env
  src/agent/llm_client.py
  src/agent/memory.py
  src/agent/orchestrator.py
  src/agent/policies.py
Owners: @maintainers, @devops-maintainers, @agent-maintainers

fix: Resolve structlog import issue
  src/legend_guardian/api/main.py
  test_final_structure.py
Owners: @maintainers

Implement and update placeholder tests for legend_guardian modules
  tests/test_api_main.py
  tests/test_config.py
  tests/test_depot_client.py
  tests/test_depot_client_comprehensive.py
  tests/test_e2e_flows.py
  tests/test_engine_client.py
  tests/test_llm_client.py
  tests/test_memory.py
  tests/test_orchestrator.py
  tests/test_policies.py
  tests/test_rag_loader.py
  tests/test_rag_store.py
  tests/test_sdlc_client.py
Owners: @qa-maintainers

Add CI workflow to run tests on push and pull_request
  .github/workflows/ci.yml
Owners: @maintainers

chore: update CI and add e2e tests
  .github/workflows/ci.yml
  src/legend_guardian/api/deps.py
  src/legend_guardian/api/routers/adapters_depot.py
  src/legend_guardian/api/routers/adapters_engine.py
  src/legend_guardian/api/routers/adapters_sdlc.py
  src/legend_guardian/api/routers/flows.py
  src/legend_guardian/api/routers/webhooks.py
  tests/test_engine_client_comprehensive.py
  tests/test_llm_client_comprehensive.py
  tests/test_memory_comprehensive.py
  tests/test_orchestrator_comprehensive.py
  tests/test_policies_comprehensive.py
  tests/test_rag_comprehensive.py
  tests/test_sdlc_client_comprehensive.py
Owners: @maintainers, @qa-maintainers

fix: Comprehensive test suite fixes - achieve 100% test pass rate
  tests/test_api_comprehensive.py
  tests/test_api_deps_fixed.py
  tests/test_api_main_comprehensive.py
  tests/test_api_routers_comprehensive.py
  tests/test_depot_client_comprehensive.py
  tests/test_engine_client_comprehensive.py
  tests/test_llm_client_comprehensive.py
  tests/test_orchestrator_comprehensive.py
  tests/test_orchestrator_enhanced.py
  tests/test_policies_comprehensive.py
  tests/test_rag_comprehensive.py
  tests/test_rag_loader_comprehensive.py
  tests/test_rag_store_comprehensive.py
  tests/test_sdlc_client_comprehensive.py
Owners: @qa-maintainers

fix: Resolve Legend Studio "Unauthorized" error and add troubleshooting guide
  CLAUDE.md
  deploy/docker-finos-official/TROUBLESHOOTING.md
Owners: @maintainers, @devops-maintainers

.github/CODEOWNERS:

# Update these owners to real GitHub users or teams
# Examples: @your-org/maintainers or @username

# Default owners
*                       @maintainers

# Area owners
/src/api/               @api-maintainers
/src/agent/             @agent-maintainers
/src/config/            @platform-maintainers
/tests/                 @qa-maintainers
/deploy/                @devops-maintainers
/docs/                  @docs-maintainers
/AGENTS.md              @docs-maintainers
